@model X.PagedList.IPagedList<MiniBoard.Models.Board>
@using PagedList.Core.Mvc; 
@using X.PagedList.Mvc.Core;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{ 
    ViewBag.Title = "Board";
}

<div class="container">
    <form class="form-inline" style="margin-bottom:10px; float:right;" method="get" asp-controller="Board" asp-action="Index">
        <div class="form-inline">
            <input class="form-control" type="text" name="searchString" value="@(ViewBag.CurrentFilter as string)" />
            <input class="btn btn-primary" style="margin-left:5px;" type="submit" value="검색" />
        </div>
    </form>
    <table class="table table-bordered" style="margin-bottom: 10px;">
        <thead>
            <tr style="text-align:center;">
                <th style="width:10%;">번호</th>
                <th style="width:60%;">제목</th>
                <th style="width:10%;">작성자</th>
                <th style="width:20%;">작성일</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in Model)
            {
                <tr style="text-align:center;">
                    <td>@board.NoteNo</td>
                    <td>
                        @*http://www.example.com/Board/Detail?noteNo=1*@
                        <a asp-controller="Board" asp-action="Detail" asp-route-NoteNo="@board.NoteNo">@board.NoteTitle</a>
                    </td>
                    <td>@board.UserNo</td>
                    <td>@board.CreateDate</td>
                </tr>
            }

        </tbody>
    </table>
    <div class="form-inline" style="justify-content: space-between;">
        <a class="btn btn-info" asp-controller="Board" asp-action="Add">게시물 작성</a>
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }),
            new X.PagedList.Web.Common.PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
    </div>
</div>
<br/>
